/* IE10+ CSS styles go here */

header .logo img {
    width: 163px;
}

article>aside .menu {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
}

article>aside .menu>.dd-item {
    order: 2;
}

article>aside .menu>.dd-item.parent {
    order: 1;
    flex: 1 0 auto;
}

article section.page .main-content .highlight {
    display: block;
    max-width: 100%;
    position: relative;
    margin-bottom: 5px;
}

article section.page .main-content .highlight pre {
    display: -ms-grid;
    display: grid;
    max-width: 700px;
    width: 700px;
    position: static;
}

@media screen and (max-width: 1400px) {
    .searchcontainer,
    .chevrons,
    article section.page h1:first-of-type {
        width: 95%;
    }
    article section.page .main-content .highlight pre {
        width: 100%;
        max-width: 100%;
    }
    article section.page p > code, article section.page li code, article section.page table code {
        display: block;
        max-width: 100%;
        word-break: break-all;
    }    
    .main-content-left {
        flex: 1;
    }
    nav#toc {
        padding-left: 60px;
        padding-right: 30px;
    }
}