#autocomplete {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.autocomplete-home {
  max-width: 700px;
  margin: 0 auto;
}

.autocomplete-inline {
  max-width: 96%;
  margin-bottom: 5px;
}

.autocomplete-input-inline {
  padding: 6px 6px 6px 48px;
}

.autocomplete-result {
  border-top: 1px solid #eee;
  padding: 16px;
  background: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.search-root {
  font-size: 14px;
  margin-bottom: 8px;
  font-weight: bold;
  width: 100%;
}

.search-title {
  font-size: 14px;
  margin-bottom: 10px;
  color: darkgray;
  word-break: break-word;
  text-align: right;
  width: 100%;
}

.search-left {
  width: 25%;
  padding-right: 5px;
}

.search-right {
  width: 75%;
  padding-left: 15px;
}

.search-section-title {
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.search-body {
  font-size: 13px;
  width: 100%;
}
