.autocomplete-input {
  z-index: 100;
}

.autocomplete-result-list {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    justify-content: space-between;

}

.autocomplete-result-list-wrapper .autocomplete-result-list {
  padding-bottom: 60px; /* height of powered-by-redisearch section */
}

.autocomplete-home {
  max-width: 700px;
  margin: 0 auto;
}

.autocomplete-inline {
  width: auto;
  max-width: 700px;
  margin-bottom: 1rem;
}

.autocomplete-input-inline {
  padding: 6px 6px 6px 48px;
}

.autocomplete-result {
  padding: 11px;
  background: transparent;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.autocomplete-result-list li:last-child {
  padding-bottom: 80px !important; /* height of powered-by-redisearch section */
}

.search-root {
  font-size: 14px;
  font-weight: bold;
  width: 100%;
}

.search-root-item {
  margin-bottom: 0;
  padding-bottom: 0;
  border: 0;
  cursor: default;
  padding: 16px 16px 8px 16px;
  border-top: 1px solid #eee;
  width: 100%;
}

.search-root-item::first {
  border: 0;
}

.no-section-title {
  margin-top: 0;
}

.search-title {
  font-size: 14px;
  margin-bottom: 10px;
  color: #5961ff;
  word-break: break-word;
  text-align: right;
  width: 100%;
}

.search-left {
  width: 25%;
  padding-right: 5px;
}

.search-right {
  width: 75%;
  padding-left: 15px;
}

.search-section-title {
  font-size: 16px;
  margin-bottom: 8px;
  width: 100%;
}

.search-body {
  font-size: 13px;
  width: 100%;
}

.powered-by-redisearch {
  background-image: url('../images/redisearch.png');
  background-repeat: no-repeat;
  background-position: 95% 60%;
  position: absolute;
  right: 0;
  width: 100%;
  background-color: #fff;
  bottom: 0;
  height: 60px;

  border: 1px solid rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.16);
}

