<!DOCTYPE html>
<html>
  <head>
    {{ partial "flex/head" . }}
  </head>
  <body data-url="{{ .RelPermalink }}">
    {{ partial "flex/body-beforecontent" . }}
   
    <div class="main-content">
      <div class="main-content-left">
      {{ block "main" . }}
      {{ end }}
    </div>
      <div class="main-content-right">
      {{ partial "mini-toc" . }}
    </div>
    </div>

    {{ partial "flex/body-aftercontent" . }}

    {{ block "footer" . }}
    {{ end }}

    {{ partial "custom-footer" . }}
  </body>
</html>