<div class="banner-article">
    {{ if .Params.bannerLink }}
        {{ if in .Params.bannerText "[" }}
            {{ $splitText := slice }}
            {{ $splitText1 := split .Params.bannerText "[" }}
            {{ range $i, $elem := $splitText1 }}
                {{ $splitText2 := split $elem "]" }}
                {{ $splitText = $splitText | append $splitText2 }}
            {{ end }}
            <p>{{ index $splitText 0 }}<a href="{{ .Params.bannerLink }}">{{ index $splitText 1 }}</a>{{ index $splitText 2}}</p>
        {{ else }}
            <p><a href="{{ .Params.bannerLink }}">{{ .Params.bannerText }}</a></p>
        {{ end }}
    {{ else }}
        <p>{{ .Params.bannerText }}</p>
    {{ end }}
</div>