<footer class="footer" role="contentinfo" id="footer">

    <div id="inner-footer" class="row" style="padding: 0 1em;">
        <div class="large-12 medium-12 columns">
            <nav role="navigation">
                <div class="row expanded small-up-2 medium-up-3 large-up-5">
                    <style>
                        #inner-footer .nav-head a {
                            color: white;
                        }
                    </style>

                    <div class="column column-block">
                        <h6>Company</h6>
                        <ul class="no-bullet">
                            <li id="menu-item-49231"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49231">
                                <a href="https://redislabs.com/company/">About Us</a></li>
                            <li id="menu-item-49232"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49232">
                                <a href="https://redislabs.com/company/team/">Team</a></li>
                            <li id="menu-item-49233"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49233">
                                <a href="https://redislabs.com/company/careers/">Careers</a></li>
                            <li id="menu-item-49234"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49234">
                                <a href="https://redislabs.com/company/newsroom/">Newsroom</a></li>
                            <li id="menu-item-49235"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49235">
                                <a href="https://redislabs.com/company-events/">Events</a></li>
                            <li id="menu-item-49236"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49236">
                                <a href="https://redislabs.com/company/contact/">Contact Us</a></li>
                            <li id="menu-item-49742"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49742">
                                <a href="https://redislabs.com/company/compliance-and-privacy/">Compliance</a>
                            </li>
                            <li id="menu-item-49743"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49743">
                                <a href="https://redislabs.com/brand-guidelines/">Brand</a></li>
                            <li id="menu-item-51462"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51462">
                                <a href="https://redislabs.com/legal/">Legal Notices</a></li>
                        </ul>
                    </div>
                    <div class="column column-block">
                        <h6>Community</h6>
                        <ul class="no-bullet">
                            <li id="menu-item-49237"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49237">
                                <a href="https://redislabs.com/why-redis/">Why Redis</a></li>
                            <li id="menu-item-49238"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49238">
                                <a href="https://redislabs.com/dev-blog/">Dev Blog</a></li>
                            <li id="menu-item-49239"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49239">
                                <a href="https://redislabs.com/community/oss-projects/">Projects</a></li>
                            <li id="menu-item-49241"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49241">
                                <a href="https://redislabs.com/community/redis-modules-hub/">Modules Hub</a>
                            </li>
                            <li id="menu-item-49242"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49242">
                                <a href="https://redislabs.com/community-events/">Events</a></li>
                            <li id="menu-item-49243"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49243">
                                <a href="https://redislabs.com/community/redis-stars/">Redis Stars</a></li>
                            <li id="menu-item-49244"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49244">
                                <a href="https://redislabs.com/resources/redis-watch-archive/">Redis Watch</a>
                            </li>
                        </ul>
                    </div>
                    <div class="column column-block">
                        <h6>Partners</h6>
                        <ul class="no-bullet">
                            <li id="menu-item-49278"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49278">
                                <a href="https://redislabs.com/partners/">Partner Center</a></li>
                            <li id="menu-item-49280"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49280">
                                <a href="https://redislabs.com/partners/find-a-partner/">Find a Partner</a></li>
                            <li id="menu-item-49279"
                                class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49279">
                                <a href="https://redislabs.com/partners/become-a-partner/">Become a Partner</a>
                            </li>
                        </ul>
                    </div>
                    <!--
        <div class="column column-block">
            <h6>Legal</h6>
            <ul class="no-bullet"><li id="menu-item-49658" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49658"><a href="https://redislabs.com/legal/site-terms/">Site Terms</a></li>
<li id="menu-item-49659" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49659"><a href="https://redislabs.com/legal/privacy/">Privacy</a></li>
<li id="menu-item-49660" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49660"><a href="https://redislabs.com/legal/cloud-terms/">Cloud Terms</a></li>
<li id="menu-item-49661" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49661"><a href="https://redislabs.com/legal/software-terms/">Software Terms</a></li>
<li id="menu-item-49248" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49248"><a href="https://redislabs.com/legal/licenses/">Licenses</a></li>
<li id="menu-item-51458" class="menu-item menu-item-type-custom menu-item-object-custom menu-item-51458"><a target="_blank" rel="noopener noreferrer" href="https://redis.io/topics/trademark">Trademark Guidelines</a></li>
</ul>				</div>
        -->
                    <div class="column column-block">
                        <h6>Popular Topics</h6>
                        <ul class="no-bullet">
                            <li><a href="https://redislabs.com/redis-enterprise-cloud/pro-pricing/">Cloud Pro
                                    Pricing</a></li>
                            <li><a href="https://redislabs.com/why-redis/">Why Redis</a></li>
                        </ul>
                    </div>
                    <div class="column column-block">
                        <h6>Follow Us</h6>
                        <div class="social small-only-text-center">
                            <a href="https://twitter.com/redislabs" target="_blank"><i class="fi-social-twitter"></i></a>
                            <a href="https://www.linkedin.com/company/redis-labs-inc" target="_blank"><i class="fi-social-linkedin"></i></a>
                            <a href="https://www.facebook.com/RedisLabs" target="_blank"><i class="fi-social-facebook"></i></a>
                            <a href="https://www.youtube.com/channel/UCD78lHSwYqMlyetR0_P4Vig" target="_blank"><i class="fi-social-youtube"></i></a>
                            <a href="https://www.glassdoor.com/Overview/Working-at-Redis-Labs-EI_IE928722.11,21.htm" target="_blank">
                                <img src="https://redislabs.com/wp-content/themes/redislabs/assets/images/glassdoor.svg"></a>
                            <a href="https://www.instagram.com/redislabsofficial/" target="_blank">
                                <img src="https://redislabs.com/wp-content/themes/redislabs/assets/images/instagram.svg"></a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    <div class="row v-bottom">
        <div class="small-12 medium-12 columns">
            <img width="40" class="float-left footer-logo" src="https://redislabs.com/wp-content/themes/redislabs/assets/images/footer-logo.png"></noscript>
            <p class="source-org copyright">&copy; {{ now.Format "2006"}} Redis Labs<br>Redis and the cube logo are
                trademarks of Redis
                Labs Ltd.</p>
        </div>
    </div>
</footer>