<footer class="footer" role="contentinfo" id="footer">
    <div class="footer-wrapper">
        <div id="inner-footer" class="row">
            <div class="large-12 medium-12 columns">
                <nav role="navigation">
                    <div class="row expanded small-up-2 medium-up-3 large-up-5">
                        <style>
                            #inner-footer .nav-head a {
                                color: white;
                            }
                        </style>

                        <div class="left-columns">
                            <div class="column column-block">
                                <h6>Company</h6>
                                <ul class="no-bullet">
                                    <li id="menu-item-49231"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49231"><a
                                            href="https://redis.com/company/">About Us</a></li>
                                    <li id="menu-item-49232"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49232"><a
                                            href="https://redis.com/company/team/">Team</a></li>
                                    <li id="menu-item-49233"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49233"><a
                                            href="https://redis.com/company/careers/">Careers</a></li>
                                    <li id="menu-item-49234"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49234"><a
                                            href="https://redis.com/company/newsroom/">Newsroom</a></li>
                                    <li id="menu-item-49236"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49236"><a
                                            href="https://redis.com/company/contact/">Contact Us</a></li>
                                    <li id="menu-item-58205"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-58205"><a
                                            href="https://redis.com/company/contact/support/">Support</a></li>
                                    <li id="menu-item-49742"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49742"><a
                                            href="https://redis.com/company/compliance-and-privacy/">Compliance</a></li>
                                    <li id="menu-item-51462"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-51462"><a
                                            href="https://redis.com/legal/">Legal Notices</a></li>
                                </ul>
                            </div>
                            <div class="column column-block">
                                <h6>Resources</h6>
                                <ul class="no-bullet">
                                    <li id="menu-item-57423"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57423"><a
                                            href="https://redis.com/blog/">Blog</a></li>
                                    <li id="menu-item-57425"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-57425"><a
                                            href="https://redis.com/events/upcoming/">Events</a></li>
                                    <li id="menu-item-49237"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49237"><a
                                            href="https://redis.com/webinars/">Webinars</a></li>
                                    <li id="menu-item-49238"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49238"><a
                                            href="https://redis.com/whitepapers/">Whitepapers</a></li>
                                    <li id="menu-item-49239"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49239"><a
                                            href="https://redis.com/datasheets/">Datasheets</a></li>
                                    <li id="menu-item-49241"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49241"><a
                                            href="https://redis.com/tech-videos/">Tech Videos</a></li>
                                    <li id="menu-item-49243"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49243"><a
                                            href="https://redis.com/tech-talks/">Tech Talks</a></li>
                                </ul>
                            </div>
                            <div class="column column-block">
                                <h6>Partners</h6>
                                <ul class="no-bullet partners">
                                    <li id="menu-item-49278"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49278"><a
                                            href="https://redis.com/partners/">Partner Center</a></li>
                                    <li id="menu-item-49280"
                                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-49280"><a
                                            href="https://redis.com/partners/find-a-partner/">Find a Partner</a></li>
                                </ul>

                                <h6>Customers</h6>
                                <ul class="no-bullet">
                                    <li><a href="https://redis.com/customer-stories/">
                                        Customer Stories
                                    </a>
                                    </li>
                                    <li><a href="https://redis.com/case-studies/">Case Studies</a></li>
                                </ul>
                            </div>
                        </div>
                        <div class="column column-block">
                            <div class="cta">
                                <p class="cta-title">TRY REDIS ENTERPRISE CLOUD FREE</p>
                                <p class="cta-text">Redis Enterprise Cloud provides complete automation of day-to-day database operations. Start now with 30MB of free storage.</p></div>
                                <p class="cta-btn"><a target="_blank" href="https://redis.com/#signup-modal" class="button pill">Try Now</a></p>
                            <div>
                            <div class="social small-only-text-center">
                                <a href="https://twitter.com/Redisinc" target="_blank" rel="noopener noreferrer"><i
                                        class="fi-social-twitter"></i></a>
                                <a href="https://www.youtube.com/c/redisinc/" target="_blank" rel="noopener noreferrer">
                                    <img
                                        src="{{.Site.BaseURL}}/images/yt.png">
                                </a>
                                <a href="https://www.facebook.com/Redisinc" target="_blank" rel="noopener noreferrer">
                                    <img
                                        src="{{.Site.BaseURL}}/images/fb.png">
                                </a>
                                <br>
                                <a href="https://www.linkedin.com/company/redisinc" target="_blank" rel="noopener noreferrer">
                                    <img
                                        src="{{.Site.BaseURL}}/images/in.png">
                                </a>
                                <a href="https://www.glassdoor.com/Overview/Working-at-Redis-Labs-EI_IE928722.11,21.htm"
                                    target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy"
                                        width="20px"
                                        style="width:20px;"
                                        src="{{.Site.BaseURL}}/images/gd.png"
                                        data-lazy-src="{{.Site.BaseURL}}/images/gd.png">
                                    <noscript><img
                                            style="width:20px;"
                                            src="{{.Site.BaseURL}}/images/gd.png"
                                            width="20px"></noscript>
                                </a>
                                <a href="https://www.instagram.com/redisinc/" target="_blank" rel="noopener noreferrer">
                                    <img loading="lazy"
                                    width="23px"
                                    src="{{.Site.BaseURL}}/images/ig.png"
                                        data-lazy-src="{{.Site.BaseURL}}/images/ig.png">
                                    <noscript><img
                                            src="{{.Site.BaseURL}}/images/ig.png"
                                            width="23px"></noscript>
                                </a>
                            </div>
                        </div>

                    </div>

                </nav>

            </div>
        </div>

        <div class="row v-bottom">
            <div class="small-12 medium-12 columns">
                <img width="26" class="float-left footer-logo" src="{{.Site.BaseURL}}/images/icon-redis.svg"></noscript>
                <p class="source-org copyright">&copy; {{ now.Format "2006"}} Redis. Redis and the cube logo are registered
                    trademarks of Redis, Inc.</p>
            </div>
        </div>
    </div>
</footer>

<!-- GDPR MODAL -->
<div id="gdpr-modal" style="display: none; background-color: rgb(48, 59, 74); color: rgb(167, 167, 167); padding: 0.5em 2em 1em; text-align: center; line-height: 1.5; font-size: smaller; position: sticky; bottom: 0px;">
    <div style="max-width: 1200px; margin: 0 auto;">
        <p style="
        margin: .5em 0 0 0;
        font-size: 17px;
        text-rendering: optimizeLegibility;
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;">
        By continuing to use this site, you consent to our updated privacy agreement as <a href="https://redis.com/privacy/" style="color: #5961ff;">described here</a>. You can change your cookie settings at any time as <a href="https://redis.com/privacy/" style="color: #5961ff;">described here</a> but parts of our site will not function correctly without them.</p>
        <a id="gdpr-button" style="
            cursor: pointer;
            display: inline-block;
            margin-top: .5em;
            color: #fff;
            font-size: 16px;
            line-height: 1;
            font-weight: 500;
            border-radius: 6px!important;
            padding: 12px 40px 12px;
            background-color: #5961ff;
            text-decoration: none;
            border: none;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
        " class="button" tabindex="0" onclick="acceptGDPR()">Continue</a>
    </div>
</div>
