    <div class="nav-wrapper">
        <div class="nav-column">
            <h6>Products</h6>
            <ul class="no-bullet">
                <li class="nav-head menu-item menu-item-type-custom menu-item-object-custom menu-item-44336"><a>Redis
                        Enterprise</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30710"><a
                        href="https://redislabs.com/redis-enterprise/">Core Advantages</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-47371"><a
                        href="https://redislabs.com/multi-model/">Multi-model</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30698"><a
                        href="https://redislabs.com/redis-enterprise/technology/">Technology</a></li>
                <li class="nav-head menu-item menu-item-type-custom menu-item-object-custom menu-item-30884">
                    <a>Deployments</a></li>
                <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30712"><a
                        href="https://redislabs.com/redis-enterprise/deployments/">Overview</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30703"><a
                        href="https://redislabs.com/redis-enterprise/pro/">Cloud</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30704"><a
                        href="https://redislabs.com/redis-enterprise/software/">Software</a></li>
                <li class="nav-head menu-item menu-item-type-custom menu-item-object-custom menu-item-30713"><a>More</a>
                </li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31172"><a
                        href="https://redislabs.com/redis-enterprise/redis-modules/">Redis Modules</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30707"><a
                        href="https://redislabs.com/redis-enterprise/connectors/">Connectors</a></li>
                <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30709"><a
                        href="https://redislabs.com/resources/redis-clients/">Redis Clients</a></li>
            </ul>
        </div>

        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Pricing</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30846"><a
                            href="https://redislabs.com/pricing">Selection Guide</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30847"><a
                            href="https://redislabs.com/redis-enterprise/pro/pricing/">Cloud</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30848"><a
                            href="https://redislabs.com/redis-enterprise/software/pricing/">Software</a></li>
                </ul>
            </ul>
        </div>
        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Solutions</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30856"><a
                            href="https://redislabs.com/solutions/personalization/">Personalization</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30857"><a
                            href="https://redislabs.com/solutions/fraud-detection/">Fraud Mitigation</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30852"><a
                            href="https://redislabs.com/solutions/social-apps/">Social Apps</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30853"><a
                            href="https://redislabs.com/solutions/metering/">Metering</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30854"><a
                            href="https://redislabs.com/solutions/ecommerce/">Ecommerce</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-39629"><a
                            href="https://redislabs.com/solutions/industries/redis-financial-services/">Financial
                            Services</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-31190"><a
                            href="https://redislabs.com/solutions/search/">Search</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32324"><a
                            href="https://redislabs.com/solutions/iot/">IoT Cloud</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-43957"><a
                            href="https://redislabs.com/solutions/redisedge/">IoT Edge</a></li>
                    <li class="nav-head menu-item menu-item-type-custom menu-item-object-custom menu-item-30851">
                        <a>More</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30855"><a
                            href="https://redislabs.com/solutions/use-cases/">Use Cases</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30859"><a
                            href="https://redislabs.com/solutions/partner-integrations/">Integrations</a></li>
                </ul>
            </ul>
        </div>
        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Customers</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37105"><a
                            href="https://redislabs.com/redis-enterprise/customers/">Case Studies</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-37106"><a
                            href="https://redislabs.com/solutions/industries/">Industries</a></li>
                </ul>
            </ul>
            <ul class="no-bullet">
                <li>
                    <h6>Partners</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30908"><a
                            href="https://redislabs.com/partners">Partner Center</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30906"><a
                            href="https://redislabs.com/partners/find-a-partner/">Find a Partner</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30907"><a
                            href="https://redislabs.com/partners/become-a-partner/">Become a Partner</a></li>
                </ul>
            </ul>
        </div>
        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Resources</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30909"><a
                            href="https://redislabs.com/resources/">Resource Center</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30920"><a
                            href="https://redislabs.com/resources/blog/">Company Blog</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30921"><a
                            href="https://redislabs.com/resources/webinars/">Webinars</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30910"><a
                            href="https://redislabs.com/resources/videos/">Videos</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30913"><a
                            href="https://redislabs.com/resources/benchmarks/">Benchmarks</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30914"><a
                            href="https://redislabs.com/resources/datasheets/">Datasheets</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30915"><a
                            href="https://redislabs.com/resources/whitepapers/">White Papers</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30916"><a
                            href="https://redislabs.com/resources/faqs/">FAQs</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-43608"><a
                            href="https://docs.redislabs.com/latest/index.html">Documentation</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42809"><a
                            href="https://redislabs.com/redis-for-dummies/">Redis For Dummies</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42810"><a
                            href="https://redislabs.com/community/ebook/">Redis e-Book</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-39311"><a
                            target="_blank" href="https://university.redislabs.com/">University</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30918"><a
                            href="https://redislabs.com/resources/how-to-redis-enterprise/">How To</a></li>
                </ul>
            </ul>
        </div>
        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Company</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30895"><a
                            href="https://redislabs.com/company/">About Us</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30896"><a
                            href="https://redislabs.com/company/team/">Team</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30897"><a
                            href="https://redislabs.com/company/careers/">Careers</a></li>
                    <li
                        class="menu-item menu-item-type-post_type menu-item-object-page menu-item-has-children menu-item-30988">
                        <a href="https://redislabs.com/company/newsroom/">Newsroom</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30891"><a
                            href="https://redislabs.com/company/events/">Events</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30893"><a
                            href="https://redislabs.com/company/contact/">Contact Us</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30894"><a
                            href="https://redislabs.com/company/support/">Support</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42767"><a
                            href="https://redislabs.com/company/compliance-and-privacy/">Compliance</a></li>
                    <li class="menu-item menu-item-type-custom menu-item-object-custom menu-item-30898"><a
                            target="_blank" href="https://status.redislabs.com/">Service Status</a></li>
                </ul>
            </ul>
        </div>
        <div class="nav-column">
            <ul class="no-bullet">
                <li>
                    <h6>Community</h6>
                </li>
                <ul class="no-bullet">
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-32248"><a
                            href="https://redislabs.com/why-redis/">Why Redis</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30904"><a
                            href="https://redislabs.com/community/oss-projects/">Projects</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30903"><a
                            href="https://redislabs.com/community/redis-modules-hub/">Modules Hub</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30902"><a
                            href="https://redislabs.com/community/redis-best-practices/">Best Practices</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30899"><a
                            href="https://redislabs.com/community/community-events/">Events</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-40614"><a
                            href="https://redislabs.com/community/redis-stars/">Redis Stars</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-44371"><a
                            href="https://redislabs.com/resources/redis-watch-archive/">Redis Watch</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30901"><a
                            href="https://redislabs.com/community/presentations/">Presentations</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-30900"><a
                            href="https://redislabs.com/community/tech-blog/">Tech Blog</a></li>
                    <li class="menu-item menu-item-type-post_type menu-item-object-page menu-item-42623"><a
                            href="https://redislabs.com/community/licenses/">Licenses</a></li>
                </ul>
            </ul>
        </div>
    </div>
