{{ $sourcePage := .Page }}

<html>
<head>
  <meta charset="utf-8">
  <meta name="robots" content="noindex,nofollow">
  {{ with $sourcePage }}
    <title>{{ .Title }}</title>
  {{ end }}

  <link href="{{"css/font-awesome.min.css" | relURL}}" rel="stylesheet">
  <link href="{{"css/nucleus.css" | relURL}}" rel="stylesheet">
  <link href="{{"css/bootstrap.min.css" | relURL}}" rel="stylesheet">
  <link href="{{"css/foundation-icons.css" | relURL}}" rel="stylesheet">
  {{ $style := resources.Get "theme-flex/style.css"  | resources.Fingerprint }}
  <link href="{{$style.RelPermalink}}" rel="stylesheet">
  <link href="{{"css/pdf-style.css" | relURL}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400i,700,700i" rel="stylesheet">
  <link href="{{"css/featherlight.min.css" | absURL}}" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Roboto Mono" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Lato:400,400i" rel="stylesheet">
</head>

<body>
  <div class="logo">
    <p><img src="/images/icon_logo/logo-redis-3.svg"></p>
  </div>

  {{ with $sourcePage }}
    <h1>{{ .Title }}</h1>
  {{ end }}

  <!--<ul>
    {{ with $sourcePage }}
      {{ partial "mini-toc.html" .}}
    {{ end }}
  </ul>-->

  {{ with $sourcePage }}
    {{ .Content }}
    <hr>
    <b>Updated:</b> {{ .Page.Lastmod.Format "January 2, 2006" }}
  {{ end }}
</body>
</html>