{{if eq .RelPermalink "/rs/"}}
<!-- Version selector -->
<script>
(function () {
  var v = sessionStorage.getItem('_rs_version');
  if(!v) v = '5.4';
  _setVersion(v);
})();

function _setVersion(ver) {
  document.getElementById('versionSelectorValue').innerText = ver;
}

function _selectVersion(ver) {
  sessionStorage.setItem('_rs_version', ver);
}
  
function _openVersionSelector() {
    document.getElementById('versionSelector').classList.toggle('--open');
}

window.onclick = function(e) {
  if (!e.target.matches('.version-selector-control')) {
    var d = document.getElementsByClassName('menu__version-selector');
    var i;
    for (i = 0; i < d.length; i++) {
      if (d[i].classList.contains('--open')) {
        d[i].classList.remove('--open');
      }
    }
  }
}</script>
<!-- /Version selector -->
{{end}}

<script src="{{"js/clipboard.min.js" | relURL}}"></script>

<link href="{{"css/featherlight.min.css" | relURL}}" rel="stylesheet">
<script src="{{"js/featherlight.min.js" | relURL}}"></script>

{{if eq .Site.Params.highlightClientSide true}}
<script src="{{"js/highlight.pack.js" | relURL}}"></script>
<script>hljs.initHighlightingOnLoad();</script>
{{end}}

<script src="{{(printf "theme-%s/script.js" (.Site.Params.themeStyle| default "flex")) | relURL}}"></script>
