<section class="home-hero">
    <h1>Documentation</h1>
    <p>Redis Enterprise in a variety of deployment options</p>

    <div>
      <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input" />
      <ul class="autocomplete-result-list"></ul>
      <div class="powered-by-redisearch"></div>
    </div>

      <script type="text/javascript" src="{{"js/autocomplete.js" | relURL}}"></script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      <link href="{{"css/autocomplete.css" | relURL}}" rel="stylesheet">
</section>

<style>
  #autocomplete {
    max-width: 700px;
    margin: 0 auto;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;

    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .search-root {
    font-size: 14px;
    margin-bottom: 8px;
    font-weight: bold;
    width: 100%;
  }

  .search-title {
    font-size: 14px;
    margin-bottom: 10px;
    color: darkgray;
    word-break: break-word;
    text-align: right;
    width: 100%;
  }

  .search-left {
    width: 25%;
    padding-right: 5px;
  }

  .search-right {
    width: 75%;
    padding-left: 15px;
  }

  .search-section-title {
    font-size: 16px;
    margin-bottom: 8px;
    width: 100%;
  }

  .search-body {
    font-size: 13px;
    width: 100%;
  }

  .powered-by-redisearch {
    background-image: url('/images/redisearch.png');
    background-repeat: no-repeat;
    background-position: 95% 95%;
    height: 50px;
    width: 300px;
    position: absolute;
    bottom: 7px;
    right: 0;
  }

</style>
