<section class="home-hero">
    <h1>Documentation</h1>
    <p>Redis Enterprise in a variety of deployment options</p>

    <div>
      <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input" />
      <ul class="autocomplete-result-list"></ul>
    </div>

      <script type="text/javascript" src="{{"js/autocomplete.js" | relURL}}"></script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      <link href="{{"css/autocomplete.css" | relURL}}" rel="stylesheet">
</section>

<style>
  #autocomplete {
    max-width: 700px;
    margin: 0 auto;
  }

  .autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
  }

  .search-root {
      font-size: 12px;
      margin-bottom: 8px;
      font-weight: bold;
  }

  .search-title {
    font-size: 16px;
    margin-bottom: 8px;
  }

  .search-section-title {
      font-size: 12px;
      margin-bottom: 8px;
      color: darkgray;
  }

  .search-body {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.54);
  }
</style>
