<section class="home-hero">
    <h1>Documentation</h1>
    <p>Redis Enterprise in a variety of deployment options</p>

    <div>
      <div id="autocomplete" class="autocomplete">
      <input class="autocomplete-input" />
      <ul class="autocomplete-result-list"></ul>
    </div>

      <script type="text/javascript" src="{{"js/autocomplete.js" | relURL}}"></script>
      <script type="text/javascript" src="{{"js/search.js" | relURL}}"></script>
      <link href="{{"css/autocomplete.css" | relURL}}" rel="stylesheet">
</section>

<style>
  #autocomplete {
    max-width: 700px;
    margin: 0 auto;
  }

  .autocomplete-result {
    border-top: 1px solid #eee;
    padding: 16px;
    background: transparent;
  }

  @media (max-width: 736px) { 
    .search-root {
      clear: both;
      font-size: 12px;
      margin-bottom: 8px;
      margin-right: 5px;
      font-weight: bold;
    }

    .search-title {
      font-size: 14px;
      margin-bottom: 10px;
      margin-right: 15px;
      color: darkgray;
      float: left;
      max-width: 80px;
      min-width: 80px;
      word-break: break-word;
      text-align: left;
    }

    .search-section-title {
      font-size: 16px;
      margin-bottom: 8px;
      height: 100%;
    }

    .search-body {
      font-size: 14px;
      margin-left: 55px;
      color: gray;
    }
  }

  @media (min-width: 737px) {
    .search-root {
      clear: both;
      font-size: 12px;
      margin-bottom: 8px;
      margin-right: 5px;
      font-weight: bold;
    }

    .search-title {
      font-size: 14px;
      margin-bottom: 10px;
      margin-right: 15px;
      color: darkgray;
      float: left;
      max-width: 120px;
      min-width: 120px;
      word-break: break-word;
      text-align: right;
    }

    .search-section-title {
      font-size: 16px;
      margin-bottom: 8px;
    }

    .search-body {
      font-size: 14px;
      margin-left: 135px;
      color: gray;
    }
  }

</style>
