<section class="home-options">
    <div class="home-options__option">
        <div class="home-options__option__icon">
            <img src="./theme-flex/img/icn-cloud-no-circle-2.svg" alt="Cloud Essentials Icon">
            <a href="/rc" class="--opener"></a>
        </div>
        <h5>Redis Cloud Essentials</h5>
        <p>The fastest way to deploy a Redis database. Fully managed, serverless, and hosted Redis Enterprise
            database-as-a-service on major public clouds.</p>
        <ul>
            <li><a href="/rc">Overview</a></li>
            <li><a href="/rc/quick-setup-redis-cloud/">Getting Started</a></li>
            <li><a href="/rc/concepts/">Concepts</a></li>
            <li><a href="/rc/administration/">Administrator Guide</a></li>
        </ul>
    </div>

    <div class="home-options__option">
        <div class="home-options__option__icon">
            <img src="./theme-flex/img/icn-vpc-no-circle-2.svg" alt="Cloud Pro Icon">
            <a href="/rv" class="--opener"></a>
        </div>
        <h5>Redis Cloud Pro</h5>
        <p>Fully managed Redis Enterprise database-as-a-service in your virtual private cloud within major public
            clouds.</p>
        <ul>
            <li><a href="/rv">Overview</a></li>
            <li><a href="/rv/quick-setup/">Getting Started</a></li>
            <li><a href="/rv/concepts/">Concepts</a></li>
            <li><a href="/rv/administration">Administrator Guide</a></li>
        </ul>
    </div>

    <div class="home-options__option">
        <div class="home-options__option__icon">
            <img src="./theme-flex/img/icn-software-no-circle-2.svg" alt="Software Icon">
            <a href="/rs" class="--opener"></a>
        </div>
        <h5>Software</h5>
        <p>Redis Enterprise Software for any cloud or private data center. Downloadable, in containers, on PCF or as
            AWS AMI.</p>
        <ul>
            <li><a href="/rs">Overview</a></li>
            <li><a href="/rs/getting-started">Getting Started</a></li>
            <li><a href="/rs/concepts">Architecture Guide</a></li>
            <li><a href="/rs/administering">Administrator Guide</a></li>
        </ul>
    </div>

    <div class="home-options__option">
        <div class="home-options__option__icon">
            <img src="./theme-flex/img/ico-multimodel-2.svg" alt="Modules Icon">
            <a href="https://redislabs.com/redis-enterprise/redis-modules/" class="--opener"></a>
        </div>
        <h5>Modules</h5>
        <p>Redis Modules are add-ons which extend Redis to cover most of the popular use cases in many industries.</p>
        <ul>
            <li><a href="https://redislabs.com/redis-enterprise/redis-modules/">Overview</a></li>
            <li><a href="https://oss.redislabs.com/redisearch/">Redisearch</a></li>
            <li><a href="https://oss.redislabs.com/rejson/">ReJSON</a></li>
            <li><a href="https://oss.redislabs.com/rebloom/">ReBloom</a></li>
            <li><a href="https://oss.redislabs.com/redisgraph/">RedisGraph</a></li>
        </ul>
    </div>
</section>
