<section class="home-options">
        <div class="home-options__option" style="transform: translateY(10px);">
            <div class="tile-opener">
            <a href="/rc">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/RedisLabs_Homepage_Getstarted_Cloud.svg" alt="Cloud Icon" style="width:70px;transform: translateY(-2px); margin-top:13px; margin-bottom:24px;">
                </div>
                <h5>Cloud</h5>
                <p>Hosted and serverless DBaaS. The fastest way to deploy Redis Enterprise.</p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rc">Overview</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rc/subscriptions/">Subscriptions</a></li>
                </section>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/rc/rc-quickstart/">Get started</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rc/databases/">Databases</a></li>
                </section>
            </ul>
        </div>

        <div class="home-options__option" style="transform: translateY(-1px);">
            <div class="tile-opener">
            <a href="/rs">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/RedisLabs_Homepage_Getstarted_Software.svg" alt="Software Icon" style="width: 70px; margin-top:13px; margin-bottom:14px;">
                </div>
                <h5>Software</h5>
                <p>Software you can install on any cloud or private data center as software, containers, Pivotal CF, OpenShift, or AWS AMI.</p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rs">Overview</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rs/concepts">Architecture</a></li>
                </section>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rs/getting-started">Get
                            started</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/rs/administering">Administration</a></li>
                </section>
            </ul>
        </div>

        <div class="home-options__option" style="transform: translateY(10px);">
            <div class="tile-opener">
            <a href="/platforms">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-platforms.svg" alt="Platforms Icon" class="platforms-icon">
                </div>
                <h5>Kubernetes</h5>
                <p>Redis Enterprise deployed on containerized software platforms and integrated with our partners.</p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/kubernetes/architecture">Architecture</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/kubernetes/rec/">Clusters</a></li>
                </section>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/kubernetes/deployment/">Deployments</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/kubernetes/redb/">Databases</a></li>
                </section>
            </ul>
        </div>

        <div class="home-options__option">
            <div class="tile-opener">
            <a href="/modules">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-modules.svg" alt="Modules Icon" class="modules-icon">
                </div>
                <h5>Redis Stack & modules</h5>
                <p>Redis Stack simplifies the installation of Redis modules, which extend Redis to support the most popular use cases in many industries.</p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/modules">Overview</a></li>

                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/modules/redisjson/">RedisJSON</a></li>
                </section>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/modules/redisearch/">RediSearch</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a
                            href="/modules/redisgraph/">RedisGraph</a></li>
                </section>
            </ul>
        </div>

        <div class="home-options__option" style="min-height:394px;min-width:328px">
            <div class="tile-opener">
            <a href="/connect">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-cloud-pro.svg" alt="Redis Connect Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>Redis Connect</h5>
                <p><em>Description TBD</em>
                </p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/connect">Introduction</a></li>
                    <li><!-- <i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/using-redisinsight">Using RedisInsight</a>-->&nbsp;</li>
                </section>
                <section>
                    <li><!-- <i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/memory-optimizations/">Optimize
                        memory</a>-->&nbsp;</li>
                        <li><!-- <i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/faqs">FAQs</a>-->&nbsp;</li>
                </section>
            </ul>
        </div>

        <div class="home-options__option">
            <div class="tile-opener">
            <a href="/ri">
                <div class="home-options__option__icon">
                    <img src="./theme-flex/img/ico-redisinsight.svg" alt="RedisInsight Icon" style="height: 70%; margin-top:20px;">
                </div>
                <h5>RedisInsight</h5>
                <p>RedisInsight is a cross-platform GUI for Redis, with a focus on reducing memory usage and improving application performance.
                </p>
            </a>
            </div>
            <hr>
            <ul>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/installing">Installation
                        guide</a></li>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/using-redisinsight">Using RedisInsight</a></li>
                </section>
                <section>
                    <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/memory-optimizations/">Optimize
                        memory</a></li>
                        <li><i class="fa fa-angle-right fa-lg category-icon"></i><a href="/ri/faqs">FAQs</a></li>
                </section>
            </ul>
        </div>

</section>
