{{ $columnNamesStr :=  .Get "columnNames" }}
{{ $columnNames := split $columnNamesStr "," }}
{{ $columnSourcesStr :=  .Get "columnSources" }}
{{ $columnSources := split $columnSourcesStr "," }}
{{ $enableLinksStr :=  .Get "enableLinks" }}
{{ $enableLinks := split $enableLinksStr "," }}
{{ $children := .Page.Pages }}

<table>
    <thead>
        <tr>
            {{ range $i, $column := $columnNames }}
                <th style="text-align:left">{{ $column }}</th>
            {{ end }}
        </tr>
    </thead>

    <tbody>
        {{ range $i, $child := $children }}
        <tr>
            {{ range $j, $cSource := $columnSources }}
                {{ if eq $cSource "LinkTitle" }}
                    {{ if in $enableLinks $cSource }}
                        <td style="text-align:left"><a href="{{$child.RelPermalink}}" >{{ $child.LinkTitle }}</a></td>
                    {{ else }}
                        <td style="text-align:left">{{ $child.LinkTitle }}</td>
                    {{ end }}
                {{ end }}
                {{ if eq $cSource "Title" }}
                    {{ if in $enableLinks $cSource }}
                        <td style="text-align:left"><a href="{{$child.RelPermalink}}" >{{ $child.Title }}</a></td>
                    {{ else }}
                        <td style="text-align:left">{{ $child.Title }}</td>
                    {{ end }}
                {{ end }}
                {{ if eq $cSource "Description" }}
                    {{ if in $enableLinks $cSource }}
                        <td style="text-align:left"><a href="{{$child.RelPermalink}}" >{{ $child.Description }}</a></td>
                    {{ else }}
                        <td style="text-align:left">{{ $child.Description }}</td>
                    {{ end }}
                {{ end }}
            {{ end }}
        </tr>
        {{ end }}
    </tbody>
</table>